ul,
ol {
  list-style: none;
}
@font-face {
  font-family: "spaceGroesk";
  src: url("./Fonts/SpaceGrotesk-Regular.woff") format("woff2");
}
@font-face {
  font-family: "spaceGroesk_light";
  src: url("./Fonts/SpaceGrotesk-Light.woff") format("woff2");
}
@font-face {
  font-family: "spaceGroesk_medium";
  src: url("./Fonts/SpaceGrotesk-Medium.woff") format("woff2");
}
@font-face {
  font-family: "spaceGroesk_semibold";
  src: url("./Fonts/SpaceGrotesk-SemiBold.woff") format("woff2");
}
@font-face {
  font-family: "spaceGroesk_bold";
  src: url("./Fonts/SpaceGrotesk-Bold.woff") format("woff2");
}
