ul,
ol {
  list-style: none;
}
@font-face {
  font-family: "spaceGroesk";
  src: url("./fonts/SpaceGrotesk-Regular.woff") format("woff2");
}
@font-face {
  font-family: "spaceGroesk_light";
  src: url("./fonts/SpaceGrotesk-Light.woff") format("woff2");
}
@font-face {
  font-family: "spaceGroesk_medium";
  src: url("./fonts/SpaceGrotesk-Medium.woff") format("woff2");
}
@font-face {
  font-family: "spaceGroesk_semibold";
  src: url("./fonts/SpaceGrotesk-SemiBold.woff") format("woff2");
}
@font-face {
  font-family: "spaceGroesk_bold";
  src: url("./fonts/SpaceGrotesk-Bold.woff") format("woff2");
}
h2 {
  font-family: "spaceGroesk_semibold";
}
h3 {
  font-family: "spaceGroesk_semibold";
}
p {
  font-size: 18px;
  font-weight: 400;
  font-family: "spaceGroesk";
}
button {
  font-family: "spaceGroesk";
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
